/* takes content size, padding, and border into account when determing size of content */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: black;
  background-color: white;
}

/* remove margins on typography to keep margins consistent */
h1,
h2,
h3,
p {
  margin: 0;
}

p {
  margin-bottom: 0.5em;
}

img {
  width: 100px;
}

.search-bar {
  margin: 0.5em;
  padding: 0.5em;

  font-size: 1.25rem;
}

#tvguide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.show {
  margin: 0.5em;
  padding: 0.5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2rem auto;
  grid-gap: 0.5em;
  border: 1px solid black;
}

.show-title,
.show-img,
.show-summary {
  grid-column: 1/-1;
}

.show-title {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}

.show-summary {
  overflow-y: auto;
  border: 1px solid green;
}

.show-season {
  border: 1px solid black;
  padding: 0.25em;
}

.season-link {
  text-decoration: none;
  color: black;
}

.season-link:hover,
.season-link:focus {
  color: red;
}

@media (min-width: 600px) {
  #tvguide {
    grid-template-columns: repeat(4, 1fr);
  }
}
